
body{
    overflow: hidden;
}
.home {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/rpg-vampiro-a-mascara.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.5; 
    z-index: -1; 
}

main.home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.home__content {
    max-width: 1000px;
    max-height: 800px;
    text-align: center;
    left:  50px;
    padding: 20px;
    border-radius: 10px;
    z-index: 1; 
}

.home__title {
    font-family: var(--font-cinzel-decorative);
    font-weight: 500;
    font-size: 5rem;
    color: #800;
}

.home__story {
    color: #fff;
    font-size: 1.7rem;
    line-height: 1.5;
    white-space: pre-line;
}

.home__button {
    background-color: #800;
    color: #fff;
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 25px;
    transition: background-color 0.3s ease;
}

.home__button:hover {
    background-color: #e63946;
}


/* Media Queries para Responsividade */
@media (max-width: 1200px) {
    .home__title {
        font-size: 5vh;
    }

    .home__story {
        font-size: 1.8vh;
    }
}

@media (max-width: 992px) {
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .home__title {
        font-size: 4.5vh;
    }

    .home__story {
        font-size: 1.6vh;
    }

    .home__content {
        padding: 15px;
    }

    .home::before {
        background-image: url(../img/home.png);
    }
}

@media (max-width: 768px) {
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .home__title {
        font-size: 4vh;
    }

    .home__story {
        font-size: 1.5vh;
    }

    .home__content {
        padding: 10px;
    }

    .home__button {
        padding: 8px 12px;
    }

    .home::before {
        background-image: url(../img/home.png);
    }
}

@media (max-width: 576px) {
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .home__title {
        font-size: 3.5vh;
    }

    .home__story {
        font-size: 1.4vh;
    }

    .home__content {
        max-width: 90%;
        padding: 5px;
    }

    .home__button {
        padding: 6px 10px;
    }

    .home::before {
        background-image: url(../img/home.png);
    }
}
.personagem {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh; 
    padding-left: 100px; 
}
#personagem1 {
    background-image: url(../img/perssonagem-1.png);
    background-size: cover;
    background-position: center;
}

#personagem2 {
    background-image: url(../img/perssonagem-2.png);
    background-size: cover;
    background-position: center;
}

#personagem3 {
    background-image: url(../img/perssonagem-3.png);
    background-size: cover;
    background-position: center;
}

#personagem4 {
    background-image: url(../img/perssonagem-4.png);
    background-size: cover;
    background-position: center;
}

#personagem5 {
    background-image: url(../img/perssonagem-5.png);
    background-size: cover;
    background-position: center;
}
.personagem__container{
    background: rgba(43, 41, 41, 0.1);
    max-width: 700px;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    border-radius: 10px;
    
}

.personagem__name{
    font-family: var(--font-cinzel-decorative);
    font-weight: 500;
    font-size: 5rem;
    color: #800;
    margin-bottom: 20px;
}
.personagem__story{
    color: #fff;
    font-size: 1.7rem;
    line-height: 1.5;
    white-space: pre-line;
}


/* Para 992px */
@media only screen and (max-width: 992px) {
    .personagem__container{
        background: rgba(0, 0, 0, 0.5);
        
    }
}

/* Para 768px */
@media only screen and (max-width: 768px) {
    .personagem__container{
        background: rgba(0, 0, 0, 0.5);
        
    }
    #personagem1 {
        background-image: url(../img/telas/Briar-768.png);
    }
    #personagem2 {
        background-image: url(../img/telas/Ruby-768.png);
    }
    #personagem3 {
        background-image: url(../img/telas/Roy-768.png);
    }
    #personagem4 {
        background-image: url(../img/telas/Fenrir-768.png);
    }
    #personagem5 {
        background-image: url(../img/telas/Dominic-768.png);
    }
}

/* Para 576px */
@media only screen and (max-width: 576px) {
    .personagem__container{
        background: rgba(0, 0, 0, 0.5);
        
    }

    .personagem__title {
        font-size: 4vh;
    }

    .personagem__story {
        font-size: 1.5vh;
    }
    #personagem1 {
        background-image: url(../img/telas/briar-576.png);
    }
    #personagem2 {
        background-image: url(../img/telas/ruby-576.png);
    }
    #personagem3 {
        background-image: url(../img/telas/Roy-576.png);
    }
    #personagem4 {
        background-image: url(../img/telas/Fenrir-576.png);
    }
    #personagem5 {
        background-image: url(../img/telas/Dominic-576.png);
    }
}
.personagem__pop-up {
    display: none;
}

.personagem__info {
    display: none;
}

